%nav.navbar-dark.bg-dark
  .container
    .row
      .nav-item= link_to "Home",   root_path, :class => "nav-link"

      -if current_user.blank?
        = render 'layouts/navigation/no_logged_user'
      -else
        = render 'layouts/navigation/logged_user'
